.container
{
    width: 50%;
    height: 400px;
    margin: auto;
    margin-top: 8%;
    padding: 8px;
    background-color: lightgrey;
    max-width: 400px;
}
.center
{
    text-align: center;
}
.result-view
{
    background: lightcyan;
    height: 45px;
    padding: 8px;
}
.row
{
    margin: 12px auto;
    clear: both;
    width: 100%;
}

.mButton
{
   float: left;
    width: 20%;
    margin: 2.5% 2.5%;
    padding: 3% 0%;
    cursor: pointer;
    color: white;
    background-color: #4CAF50;
    border: none;
    display: inline-block;
    border-radius: 6px;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
    outline: none;
}
.mButton:hover
{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

