.container
{
    width: 30%;
    height: 400px;
    margin: auto;
    margin-top: 8%;
    padding: 8px;
    background-color: brown;
}
.center
{
    text-align: center;
}
.result-view
{
    background: blue;
    height: 45px;
    padding: 8px;
}
.row
{
    margin: 8px auto;
    clear: both;
}
.row h3
{
    margin: 8px;
    background-color: white;
    width: 80px;
    height:  35px;
    padding-top: 4%;
}
.row_item
{
    float: left;
    text-align: center;
}
